# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Scientist
* List some data science tools
* How to evaluate arithmetic expression in python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. Plotly
3. ggplot

| Data Science Tools |
| -- |
| RStudio |
| JupyterLab |
| GoogleCollab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [28]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [33]:
# This will convert 200 minutes to hours by diving by 60
print((200/60) , "hrs")

3.3333333333333335 hrs

## Author
Vijay